<div>
    <h2 id="page-heading">
        <span>Salaries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-salary" [routerLink]="['/salary/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Salary
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="salaries?.length === 0">
        <span>No salaries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="salaries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Salary Date</span></th>
                    <th scope="col" ><span>Period</span></th>
                    <th scope="col" ><span>Amount</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let salary of salaries ;trackBy: trackId">
                    <td><a [routerLink]="['/salary', salary.id, 'view']">{{ salary.id }}</a></td>
                    <td>{{ salary.salaryDate | date:'mediumDate' }}</td>
                    <td>{{ salary.period }}</td>
                    <td>{{ salary.amount }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/salary', salary.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/salary', salary.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(salary)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
