<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="expense">
            <h2><span>Expense</span> {{ expense.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Expense Name</span></dt>
                <dd>
                    <span>{{ expense.expenseName }}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{ expense.startDate }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ expense.amount }}</span>
                </dd>
                <dt><span>Frequency</span></dt>
                <dd>
                    <span>{{ expense.frequency }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expense', expense.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
