<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="expenseInstance">
            <h2><span>Expense Instance</span> {{ expenseInstance.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ expenseInstance.date }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ expenseInstance.amount }}</span>
                </dd>
                <dt><span>Paid</span></dt>
                <dd>
                    <span>{{ expenseInstance.paid }}</span>
                </dd>
                <dt><span>Expense</span></dt>
                <dd>
                    <div *ngIf="expenseInstance.expense">
                        <a [routerLink]="['/expense', expenseInstance.expense?.id, 'view']">{{ expenseInstance.expense?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expense-instance', expenseInstance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
